*{
    box-sizing: border-box;
    margin: 0 0;
}

.no-margin{
    margin: 0 0;
}

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.outfit{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  

h1{
    padding-top: 25px;
    margin: 0 0;
}

h2{
    margin: 0 0;
    padding: 21px 0;
}

p{
    margin: 0 0;
    font-size: 16px;
}

ul{
    margin: 0 0;    
}


#main{
    position: relative;
    background-color: hsl(30, 54%, 90%);
    width: auto;
    height: 1750px;
    padding: 100px;
}

#recipe{
    position: absolute;
    padding: 35px;
    border-radius: 2%;
    width: 700px;
    align-items: center;
    background-color:#fff;
    
}

#omelette-img{
    width: 100%;
    border-radius: 5%;
}

.nutmeg-color{
    color: hsl(14, 45%, 36%);
}

.dark-respberry-color{
    color: hsl(332, 51%, 32%);
}

#recipe{
    left: 50%;
    justify-items: baseline;
    transform: translate(-50%,0); /* 3% tí sửa  */
}

p{
    text-align: justify;
}

#first-p{
    padding: 20px 0;
    
}

#prepare{
    padding: 15px;
    border-radius: 9%;
    position: relative;
    background-color: hsl(330, 100%, 98%);
}

#prepare h2{
    color: hsl(332, 51%, 32%);
    margin: 0 0;
    padding-top:0; 
}

#prepareList ul{
    padding-inline-start: 20px;
}

#prepareList li{
    padding-left: 15px;
}

#ingredient{
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
}

#ingredient ul{
    padding-inline-start: 20px;
}

#ingredient li{
    padding-left: 15px;
}

#instruction{
    border-bottom: 1px solid silver;
    padding-bottom: 15px;
}

#instruction h2{
    padding-top: 20px;
}

#instruction ul{
    padding-inline-start: 0px;
    margin-left: 12px;
}

#instruction li{
    color: hsl(24, 5%, 18%);
    padding-bottom: 15px;
    text-align: justify;
}

#instructionsList li{
    list-style: decimal;
    padding-left: 15px;
}

#nutrition{
    position: relative;
}

#nutrition-p{
    padding-bottom: 15px;
}

#nutrition-table{
    position: relative;
    width: 100%;
}

#nutrition-table td{
    padding-left: 32px;
}